<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>FAQ Page</h1>
</body>
</html>

<div class="starter-template">
    <br /> <br />
    <h1>Vehicle Inquiry Form. </h1>
    <h1 class="lead">Vehicle Inquiry Form.((small description))</h1>
    <br> </br>

    <div class="form-group" action="/form.html" method="post">

        <label for="names">Full Names:</label>
        <select name="Title">
            <option value="none">Title</option>
            <option value="Tilte1">Mr.</option>
            <option value="Title2">Mrs.</option>
            <option value="Title3">Ms</option>
            <option value="Title3">Miss</option>
        </select>
        <input type="text" name="Full Names" class='form-control' id='fullnames' placeholder="Write your full names...">
    </div>
    <br> </br>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <br> </br>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <br> </br>
    <div class="form-group">
        <label for="contacts">Contacts:</label>
        <input type="number" class="form-control" id="contacts">
    </div>
    <br> </br>
    <div class="form-check">
        <label for="I am>I am:</label><!--fix the label for i am-->
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Individual
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Dealer
        </label>
    </div>
    <br> </br>

    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" placeholder="Write a message" class="form-control" id="message">
    </div>

    <br> </br>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>




car photo links
BACKGROUNDS------
<img src="https://i.ibb.co/M2PLFLv/black-bug-login.jpg" alt="black-bug-login" border="0">

DASHBOARD/INDEX-----
<img src="https://i.ibb.co/59Lwg7y/auris.jpg" alt="auris" border="0">
<img src="https://i.ibb.co/tYyxDpV/audia3.jpg" alt="audia3" border="0">
<img src="https://i.ibb.co/wLLg6fW/crown.jpg" alt="crown" border="0">
<img src="https://i.ibb.co/wcLv5cj/golf.jpg" alt="golf" border="0">  
<img src="https://i.ibb.co/fDJS0fD/jeep.jpg" alt="jeep" border="0">
<img src="https://i.ibb.co/Gkv0F4y/mercedese250.jpg" alt="mercedese250" border="0">   
<img src="https://i.ibb.co/34BKKKG/nissannote.jpg" alt="nissannote" border="0">
<img src="https://i.ibb.co/8XkBCMc/rav4brown.jpg" alt="rav4brown" border="0">



INVENTORY----
<img src="https://i.ibb.co/2PqJ5kQ/isuzudmax.jpg" alt="isuzudmax" border="0">
<img src="https://i.ibb.co/wyYg9jm/volkswagentiguan.jpg" alt="volkswagentiguan" border="0">
<img src="https://i.ibb.co/vzGgyw5/toyotamarkx.jpg" alt="toyotamarkx" border="0">
<img src="https://i.ibb.co/q9KjfTd/mercedesbenz.jpg" alt="mercedesbenz" border="0">
<img src="https://i.ibb.co/d7y40Xj/mitsubishilancer.jpg" alt="mitsubishilancer" border="0">
<img src="https://i.ibb.co/5rC9gqq/toyotavitz.jpg" alt="toyotavitz" border="0">
<img src="https://i.ibb.co/60PtXPL/toyotaallion.jpg" alt="toyotaallion" border="0">

SALES-----
<img src="https://i.ibb.co/v4vRkgh/subaru-impreza.jpg" alt="subaru-impreza" border="0">
<img src="https://i.ibb.co/0K5h2B7/toyotabelta.jpg" alt="toyotabelta" border="0">
<img src="https://i.ibb.co/YRDg91K/benzc-coupe.jpg" alt="benzc-coupe" border="0">
<img src="https://i.ibb.co/tmSCjKm/hondafitorange.jpg" alt="hondafitorange" border="0">
<img src="https://i.ibb.co/LNCYV8L/hondainsight.jpg" alt="hondainsight" border="0">
<img src="https://i.ibb.co/p12QHhW/pradobrown.jpg" alt="pradobrown" border="0">
<img src="https://i.ibb.co/h797Bfd/probox.jpg" alt="probox" border="0">
