<html>
<head>

    <title>This is our form</title>
</head>
<body>
    <h1>Our forms</h1>
</body>
</html>




<h1 class="lead">Vehicle Inquiry Form.((small description))</h1>
<body>
    <div class="form-group" action="/form.html" method="post">

        <label for="names">Make:</label>
        <select name="Title">
            <option value="none">Make</option>
            <option value="Title1">Mercedes Benz</option>
            <option value="Title2">BMW</option>
            <option value="Title3">Range Rover</option>
            <option value="Title4">Audi</option>
            <option value="Title5">Toyota</option>
            <option value="Title6">Subaru</option>
            <option value="Title7">Volkswagen</option>
        </select>
    </div>
    <br> </br>
    <div class="form-group" action="/form.html" method="post">

        <label for="names">Model:</label>
        <select name="Title">
            <option value="none">Model</option>
            <option value="Title1">E-Class</option>
            <option value="Title2">BMW X5</option>
            <option value="Title3">Range Rover Evoque</option>
            <option value="Title4">Audi Q5</option>
            <option value="Title5">Toyota Noah</option>
            <option value="Title6">Subaru Impreza</option>
            <option value="Title7">Volkswagen Tiguan</option>
        </select>
    </div>
    <br> </br>

    <div class="form-group" action="/form.html" method="post">

        <label for="names">Body Type:</label>
        <select name="Title">
            <option value="none">Body Type</option>
            <option value="Title1">Sedan</option>
            <option value="Title2">Hatchback</option>
            <option value="Title3">Van</option>
            <option value="Title4">SUV</option>
            <option value="Title5">Coupe</option>
        </select>
    </div>
    <br> </br>
    <div class="form-group">
        <label for="year">Year of Manufacture:</label>
        <input type="text" class="form-control" id="year">
        <br> </br>
        <div class="form-group">
            <label for="year">Year:</label><!--fix the year from and to-->
            <input type="range" class="form-control" id="Year">
        </div>
    </div>

    <br> </br>
    <div class="form-group">
        <label for="Price">Price:</label>
        <input type="range" class="form-control" id="price">
    </div>


    <br> </br>
    <div class="form-group">
        <label for="contacts">Color:</label>
        <input type="text" class="form-control" id="color">
    </div>
    <br> </br>


    <div class="form-group">
        <label for="message">Additional Message</label>
        <input type="text" placeholder="Write a message" class="form-control" id="message">
    </div>

    <br> </br>
    <button type="submit" class="btn btn-primary">Submit</button>
