{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<head>
    <style>
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }


        p {
            font-family: Georgia, Georgia, serif;
        }
            p.thick {
                font-weight: bold;
            }

        footer {
            background-color: white;
            padding: 10px;
            text-align: center;
            color: black;
        }

    </style>

</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            
        <!-- <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </div> -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="{{url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{url_for('imports') }}">Imports</a></li>
                <li><a href="{{url_for('inventory') }}">Inventory</a></li>
                <li><a href="{{url_for('sales') }}">Sales</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
            
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome, {{ name }}</h1>
            <p>add a small search bar, searches cars on this page,,,hence cars should be in db as well</p>

            <div class="container">
                <div class="starter-template">
                    <br /> <br />
                    <h1 class="lead">New Arrivals</h1>

                </div>



                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/fDJS0fD/jeep.jpg" alt="jeep" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Jeep</span></li>
                                        <li><span class="ellipses">Car Model:Grand Cherokee</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Wine Red</span></li>
                                        <li><span class="ellipses">Price:Ksh 4,700,000</span></li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/wcLv5cj/golf.jpg" alt="golf" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Volkswagen</span></li>
                                        <li><span class="ellipses">Car Model:Golf GTI</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Navy Blue</span></li>
                                        <li><span class="ellipses">Price:Ksh 1,650,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/tYyxDpV/audia3.jpg" alt="audia3" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Audi</span></li>
                                        <li><span class="ellipses">Car Model:A3</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Red</span></li>
                                        <li><span class="ellipses">Price:Ksh 1,395,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/59Lwg7y/auris.jpg" alt="auris" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Toyota</span></li>
                                        <li><span class="ellipses">Car Model:Auris</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Black</span></li>
                                        <li><span class="ellipses">Price:Ksh 1,200,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/8XkBCMc/rav4brown.jpg" alt="rav4brown" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Toyota</span></li>
                                        <li><span class="ellipses">Car Model:Rav4</span></li>
                                        <li><span class="ellipses">Year:2017</span></li>
                                        <li><span class="ellipses">Color:Brown</span></li>
                                        <li><span class="ellipses">Price:Ksh 4,400,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/34BKKKG/nissannote.jpg" alt="nissannote" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Nissan</span></li>
                                        <li><span class="ellipses">Car Model:Note</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:White</span></li>
                                        <li><span class="ellipses">Price:Ksh 650,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/wLLg6fW/crown.jpg" alt="crown" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Toyota</span></li>
                                        <li><span class="ellipses">Car Model:Crown Royal</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:White</span></li>
                                        <li><span class="ellipses">Price:Ksh 1,780,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/LNCYV8L/hondainsight.jpg" alt="hondainsight" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make:Honda</span></li>
                                        <li><span class="ellipses">Car Model:Insight</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Silver</span></li>
                                        <li><span class="ellipses"> Price:Ksh 900,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="https://i.ibb.co/Gkv0F4y/mercedese250.jpg" alt="mercedese250" border="0">

                            <div class="caption">
                                <p>
                                    <ul style="list-style-type:none;">
                                        <li><span class="ellipses">Car Make: Mercedes Benz</span></li>
                                        <li><span class="ellipses">Car Model: E-250</span></li>
                                        <li><span class="ellipses">Year:2012</span></li>
                                        <li><span class="ellipses">Color:Grey</span></li>
                                        <li><span class="ellipses"> Price:Ksh 4,700,000</span></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <h2 class="sub-header">Add to Current Inventory</h2>           

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Car Make</th>
                            <th>Car Model</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>

                    </thead>
                    

                    <tbody>
                    <form method="POST" action="./dashboard">
    <input type="text" name="carmake" placeholder="Car Make">
    <input type="text" name="carmodel" placeholder="Car Model">
    <input type="text" name="color" placeholder="Color">
    <input type="text" name="year" placeholder="Year">
    <input type="text" name="price" placeholder="Price">
    <input type="submit" value="Add">
                    </form>

                        {% for car in cars %}
                        <tr>
                            
                            <!-- <td> -->

                            <form method="POST" action="./update">
                                <input type="hidden" value="{{car.id}}" name="id">
                                <td>
                                    <input type="text" value="{{car.carmake}}" name="make">
                                </td>
                                <td>
                                    <input type="text" value="{{car.carmodel}}" name="model">
                                </td>
                                <td>
                                    <input type="text" value="{{car.color}}" name="color">
                                </td>
                                <td>
                                    <input type="text" value="{{car.year}}" name="year">
                                </td>
                                <td>
                                    <input type="text" value="{{car.price}}" name="price">
                                </td>
                                <td>
                                    <input type="submit" value="Update">
                                </td>
                            </form>
                            <td>
                                <form method="POST" action="./delete">
                                    <input type="hidden" value="{{car.id}}" name="id">
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>


                        {% endfor %}
                    </tbody>
                </table>

                <div class="starter-template">
                    <br /> <br />
                    
                </div>
            </div>
        </div>
       
        <footer>
            <p><h3>Contact Us </h3></p>
            <p>Email Address: info@autoinc.com</p>
            <p>Phone Number: +254 788505050</p>
            <p>Facebook/Twitter: Autoinc.</p>

        </footer>
            
            </div>
        </div>
{% endblock %}